@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 14px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: grey;
}

.logo {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    margin-bottom: 20px;
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: lowercase; */
    /* letter-spacing: 5px; */
    /* word-spacing: 42px; */
}

/* Box Model */
.container {
    max-width: 750px;
    margin: auto;
}

/* .social {
    background: green;
    padding: 5px;
    border: 5px solid red;
    margin: 0;
}

.box-model div {
    float: left;
    background: #000;
    height: 200px;
    width: 25%;
    border: 4px solid red;
    box-sizing: border-box;
} */

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.card {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
    /* list-style: none; */

}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: grey;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    color: #000;
    font-family: inherit;
    padding: 15px 0 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}